<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jsonStringData</key>
	<string>{
  &quot;id&quot;: &quot;5210301&quot;,
  &quot;name&quot;: &quot;James Golz&quot;
}</string>
</dict>
</plist>
