<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testThis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E516C3EF1BB1BFF1004D700C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E516C40B1BB1BFF2004D700C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E516C4161BB1BFF2004D700C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
